{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'forum/following.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <div id="links">
            <ul>
                <li><a href="{% url 'following_topics' %}">Topics</a></li>
                <li><a href="{% url 'following_people' %}"><b>People</b></a></li>
            </ul>
        </div>

        {% if posts %}
            <div id="posts">
                <h1>Posts from people you follow</h1>
                <ul>
                    {% for post in posts %}
                        <li class="post">
                            <a href="{% url 'post' post.id %}">{{ post.title }}</a> <span>by <b><a class="username" href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></b></span>
                            <p>{{ post.content }}</p>
                            <a class="comment-number" href="{% url 'post' post.id %}">{{ post.comment_number }} comment{% if post.comment_number != 1 %}s{% endif %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p class="message">You don't follow <b>anyone</b> yet.</p>
        {% endif %}
    {% else%}
            <p class="message">You must be <b>logged in</b> to view things you follow.</p>
    {% endif %}
{% endblock %}