{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'forum/following.css' %}" rel="stylesheet">
    <link href="{% static 'forum/posts.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <div id="links">
            <ul>
                <li><a href="{% url 'following_topics' %}">Topics</a></li>
                <li><a href="{% url 'following_people' %}"><b>People</b></a></li>
            </ul>
        </div>

        {% if page_obj.object_list %}
            <div id="posts">
                <h1>Posts from people you follow</h1>
                {% include "forum/posts.html" %}
            </div>
        {% else %}
            <p class="message">You don't follow <b>anyone</b> yet.</p>
        {% endif %}
    {% else%}
            <p class="message">You must be <b>logged in</b> to view things you follow.</p>
    {% endif %}
{% endblock %}