{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'forum/index.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if topics %}
        <div id="topics">
            <h1>Topics</h1>
            <ul>
                {% for topic in topics %}
                <li><a href="{% url 'topic' topic.name %}">{{ topic.name }}</a> <span class="username">{{ topic.creator.username }}</span></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}