{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'forum/posts.css' %}" rel="stylesheet">
    <link href="{% static 'forum/following.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <div id="links">
            <ul>
                <li><a href="{% url 'liked_posts' %}"><b>Posts</b></a></li>
                <li><a href="{% url 'liked_comments' %}">Comments</a></li>
            </ul>
        </div>
        {% if posts %}
            <div id="posts">
                <h1>Posts you liked</h1>
                {% include "forum/posts.html" %}
            </div>
        {% else %}
            <p class="message">No likes yet.</p>
        {% endif %}
    {% else%}
            <p class="message">You must be <b>logged in</b> to view things you like.</p>
    {% endif %}
{% endblock %}