{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'forum/post.css' %}">
    <link rel="stylesheet" href="{% static 'forum/form.css' %}">
{% endblock %}

{% block body %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% if post %}
        <section id="post">
            <p id="topic-name">{{ post.topic.name }}</p>
            <h1 id="post-title">{{ post.title }} <span class="post-by">by <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></span></h1>
            <p class="post-timestamp">{{ post.timestamp }}</p>
            <p>{{ post.content }}</p>
        </section>
    {% endif %}
    
    {% if comments %}
        <hr>
        <section id="comments">
            <h3>Comments</h3>
            {% if comment_error %}
                <p class="error comment-error">{{ comment_error }}</p>
            {% endif %}

            {% if user.is_authenticated %}
                <form action="{% url 'post' post.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="comment" id="comment" cols="30" rows="2" placeholder="Your comment"></textarea>
                    <input class="submit-button" type="submit" value="Post">
                </form>
            {% endif %}
            
            <ul class="comments-container">
                {% for comment in comments %}
                    <li class="comment">
                        <a href="{% url 'profile' comment.author.username %}">{{ comment.author.username }}</a>
                        <p>{{ comment.content }}</p>
                        <p class="comment-timestamp">{{ comment.timestamp }}</p>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}