{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'forum/posts.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block posts %}
    <ul>

        <!-- posts -->
        {% csrf_token %}
        {% for post in page_obj %}
            <li class="post" id="post-{{ post.id }}">
                <div class="post-left">
                    <span class="like">
                        {% if user.is_authenticated %}
                            <span class="like-button" data-id="{{ post.id }}" data-liked="{{ post.liked_by_user }}" data-likes="{{ post.likes }}" data-likedobject="post">
                                {% if post.liked_by_user %}
                                    ❤️
                                {% else %}
                                    🤍
                                {% endif %}
                            </span>
                        {% else %}
                            <span>
                                🤍
                            </span>
                        {% endif %}
                        <span class="like-number">{{ post.likes }}</span>
                    </span>
                </div>

                <div class="post-right">
                    {% if not topic %}
                        <a class="topic-name" href="{% url 'topic' post.topic.name %}">{{ post.topic.name }}</a>
                    {% endif %}

                    <a class="post-title" href="{% url 'post' post.id %}">{{ post.title }}</a> <span class="post-by">by <a class="username" href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></span> <span class="timestamp">{{ post.timestamp }}</span>
                    <p class="post-content">{{ post.content }}</p>

                    <div>                    
                        <a class="comment-number" href="{% url 'post' post.id %}">{{ post.comment_number }} comment{% if post.comment_number != 1 %}s{% endif %}</a>
                        {% if user.is_authenticated and post.author.id == user.id %}
                            <span class="edit-delete">
                                <button class="edit-button" data-id="{{ post.id }}">Edit</button>
                                <button class="delete-button" data-id="{{ post.id }}">Delete</button>
                                <button class="save-button hidden" data-id="{{ post.id }}">Save</button>
                                <button class="cancel-button hidden" data-id="{{ post.id }}">Cancel</button>
                            </span>
                        {% endif %}
                    </div>
                </div>                                  
            </li>
        {% endfor %}
    </ul>
    
    <!-- paginator -->
    {% if page_obj.paginator.num_pages > 1 %}
        <nav id="paginator" aria-label="paginator">
            <ul class="pagination pagination-sm justify-content-center">
            {% for page in pages %}
                {% if page_obj.number == page %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ page }}
                        <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}
{% block script %}
    <script src="{% static 'forum/editDeletePost.js' %}"></script>
    <script src="{% static 'forum/like.js' %}"></script>
{% endblock %}