{% block posts %}
    <ul>
        {% for post in posts %}
            <li class="post">
                {% if not topic %}
                    <a class="topic-name" href="{% url 'topic' post.topic.name %}">{{ post.topic.name }}</a>
                {% endif %}
                <a class="post-title" href="{% url 'post' post.id %}">{{ post.title }}</a> <span class="post-by">by <a class="username" href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></span> <span class="timestamp">{{ post.timestamp }}</span>
                <p>{{ post.content }}</p>
                <div>
                    <a class="comment-number" href="{% url 'post' post.id %}">{{ post.comment_number }} comment{% if post.comment_number != 1 %}s{% endif %}</a>
                    {% if user.is_authenticated and post.author.id == user.id %}
                        <span class="edit-delete">
                            <a href="">Edit</a>
                            <a href="">Delete</a>
                        </span>
                    {% endif %}
                </div>                        
            </li>
        {% endfor %}
    </ul>
{% endblock %}