{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'forum/post.css' %}">
    <link rel="stylesheet" href="{% static 'forum/form.css' %}">
{% endblock %}

{% block body %}
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    {% if post %}
        <section id="post-{{ post.id }}">
            <p id="topic-name">{{ post.topic.name }}</p>
            <h1 id="post-title">{{ post.title }} <span class="post-by">by <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></span></h1>
            <p class="post-timestamp">{{ post.timestamp }}</p>
            <p class="post-content">{{ post.content }}</p>
            {% if user.is_authenticated and post.author.id == user.id %}
                <div class="edit-delete">
                    <button class="edit-button" data-id="{{ post.id }}">Edit</button>
                    <button class="delete-button" data-id="{{ post.id }}">Delete</button>
                    <button class="save-button hidden" data-id="{{ post.id }}">Save</button>
                    <button class="cancel-button hidden" data-id="{{ post.id }}">Cancel</button>
                </div>
            {% endif %}
        </section>

        <hr>

        <section id="comments">
            <h3>Comments</h3>

            {% if comment_error %}
                <p class="error comment-error">{{ comment_error }}</p>
            {% endif %}

            {% if user.is_authenticated %}
                <form action="{% url 'post' post.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="comment" id="comment" cols="30" rows="2" placeholder="Your comment"></textarea>
                    <input class="submit-button" type="submit" value="Post">
                </form>
            {% endif %}

            {% if comments %}
                <ul class="comments-container">
                    {% for comment in comments %}
                        <li id="comment-{{ comment.id }}" class="comment">
                            <div class="comment-left">
                                <a href="{% url 'profile' comment.author.username %}">{{ comment.author.username }}</a>
                                <p class="comment-content">{{ comment.content }}</p>
                                <p class="comment-timestamp">{{ comment.timestamp }}</p>
                            </div>
                            <div class="comment-right">
                                <span class="like">
                                    {% if user.is_authenticated %}
                                        <span class="like-button" data-id="{{ comment.id }}" data-liked="{{ comment.liked_by_user }}" data-likes="{{ comment.likes }}" data-likedobject="comment">
                                            {% if comment.liked_by_user %}
                                                ❤️
                                            {% else %}
                                                🤍
                                            {% endif %}
                                        </span>
                                    {% else %}
                                        <span>
                                            🤍
                                        </span>
                                    {% endif %}
                                    <span class="like-number">{{ comment.likes }}</span>
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}

{% block script%}
    <script src="{% static 'forum/editDeletePost.js' %}"></script>
    <script src="{% static 'forum/like.js' %}"></script>
{% endblock %}