{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'forum/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% if profile_user %}
    <section id="user">
        <div id="user-name">
            <h1>{{ profile_user.username }}'s profile </h1>
            {% if user.is_authenticated and user.id != profile_user.id %}
                <form class="follow-unfollow" action="{% url 'profile' profile_user.username %}" method="post">
                    {% csrf_token %}
                    {% if user_is_follower %}
                        <input name="unfollow" type="submit" value="Unfollow">
                    {% else %}
                        <input name="follow" type="submit" value="Follow">
                    {% endif %}
                </form>
            {% endif %}
        </div>
        <hr>
        {% if topics_following %}
            <div id="topics">
                <h2>Topics following</h2>
                <ul>
                {% for topic in topics_following%}
                            <li><a href="{% url 'topic' topic.following.name %}">{{ topic.following.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if users_following%}
            <div id="users">
                <h2>People following</h2>
                <ul>
                    {% for user in users_following %}
                        <li> <a href="{% url 'profile' user.following.username %}">{{ user.following.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        </ul>
    </section>
    {% endif %}
{% endblock %}