{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'forum/form.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <p class="error">{{ message }}</p>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input autofocus type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmation" placeholder="Confirm Password">
        <input class="submit-button" type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>

{% endblock %}