{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'forum/topic.css' %}" rel="stylesheet">
    <link href="{% static 'forum/posts.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    {% if posts %}
            <div id="topic">
                <h1>{{ topic.name }}</h1>
                {% if user.is_authenticated%}
                    <p><a href="{% url 'new_post' topic.name %}">New post</a></p>
                {% endif %}
                <ul>
                    {% for post in posts %}
                        <li class="post">
                            <a class="post-title" href="{% url 'post' post.id %}">{{ post.title }}</a> <span class="post-by">by <a class="username" href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></span>
                            <p>{{ post.content }}</p>
                            <a class="comment-number" href="{% url 'post' post.id %}">{{ post.comment_number }} comment{% if post.comment_number != 1 %}s{% endif %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {%  else %}
    {% endif %}
{% endblock %}