{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'forum/topic.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    <div id="topic">
        <div id="topic-name">
            <h1>{{ topic.name }}</h1>
            {% if user.is_authenticated %}
                <form class="follow-unfollow" action="{% url 'topic' topic.name %}" method="post">
                    {% csrf_token %}
                    {% if user_is_follower %}
                        <input name="unfollow" type="submit" value="Unfollow">
                    {% else %}
                        <input name="follow" type="submit" value="Follow">
                    {% endif %}
                </form>
            {% endif %}
        </div>
        {% if user.is_authenticated%}
            <p class="new-post"><a href="{% url 'new_post' topic.name %}">New post</a></p>
        {% endif %}

        {% if page_obj.object_list %}
            {% include "forum/posts.html" %}
        {% else %}
            <p><b>No posts</b> yet.</p>
        {% endif %}
    </div>
{% endblock %}