{% extends "forum/layout.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'forum/topic.css' %}" rel="stylesheet">
    <link href="{% static 'forum/posts.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    <div id="topic">
        <div id="topic-name">
            <h1>{{ topic.name }}</h1>
            {% if user.is_authenticated %}
                <form class="follow-unfollow" action="{% url 'topic' topic.name %}" method="post">
                    {% csrf_token %}
                    {% if user_is_follower %}
                        <input name="unfollow" type="submit" value="Unfollow">
                    {% else %}
                        <input name="follow" type="submit" value="Follow">
                    {% endif %}
                </form>
            {% endif %}
        </div>
        {% if user.is_authenticated%}
            <p class="new-post"><a href="{% url 'new_post' topic.name %}">New post</a></p>
        {% endif %}

        {% if posts %}    
            <ul>
                {% for post in posts %}
                    <li class="post">
                        <a class="post-title" href="{% url 'post' post.id %}">{{ post.title }}</a> <span class="post-by">by <a class="username" href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></span> <span class="timestamp">{{ post.timestamp }}</span>
                        <p>{{ post.content }}</p>
                        <a class="comment-number" href="{% url 'post' post.id %}">{{ post.comment_number }} comment{% if post.comment_number != 1 %}s{% endif %}</a>
                        {% if user.is_authenticated and post.author.id == user.id %}
                            <span class="edit-delete">
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}