.comments-container {
  max-width: 400px;
  margin: 30px auto 0;
}

.comment {
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
  display: flex;
}

.comment-left {
  width: 100%;
}

.comment-right {
  align-self: center;
  text-align: center;
  padding-right: 5px;
}

.comment-right .like-number {
  font-size: 12px;
}

.comment a {
  font-weight: bold;
  font-size: 14px;
}

.comment p {
  margin: 5px 0;
  text-align: start;
}

.comment-content {
  white-space: pre-line;
  overflow: auto;
  max-width: 368.55px;
}

.comment-error {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  padding: 6px;
}

.comment-timestamp {
  font-size: 11px;
  color: gray;
}

.like-button {
  cursor: pointer;
}

.comment-from {
  font-size: 13px;
}

.comment-from a {
  font-size: 13px;
  font-weight: normal;
}

.hidden {
  display: none;
}