form {
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    gap: 7px;
}

p {
    text-align: center;
}

.error {
    color: red;
}

input {
    padding: 5px;
}

.submit-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3d3dff;
}