body {
  margin: 0;
  font-family: sans-serif !important;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: bold !important;
}

h1 {
  font-size: 30px !important;
  margin: 20px 0 !important;
}

h2 {
  font-size: 26px !important;
}

.body {
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

#navbar {
  background-color: #f0f0f0;
  padding: 10px 35px;
}

#navbar > div {
  text-align: center;
  padding-top: 13px;
}

#site-title {
  font-weight: bold;
  font-size: 20px;
}

#navbar a {
  text-decoration: none;
}

#navbar ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

#logged-in-as {
  font-size: 13px;
  padding: 10px;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: blue;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}
