body {
  margin: 0;
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

.body {
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  background-color: #f0f0f0;
  padding: 10px 35px;
}

nav > div {
  text-align: center;
  padding-top: 13px;
}

#site-title {
  font-weight: bold;
  font-size: 20px;
}

nav a {
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

#logged-in-as {
  font-size: 13px;
  padding: 10px;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: blue;
}