hr {
  margin: 10px 0 40px;
}

.post-by {
  font-size: 17px;
  font-weight: normal;
}

.post-by a {
  font-weight: bold;
}

.post-timestamp {
  font-size: 12px;
  color: gray;
  margin: 0;
  text-align: center;
}

#topic-name {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 0;
}

#post-title {
  margin: 5px;
}

.post-content {
  white-space: pre-line;
  margin: 25px 0 5px;
}

.post-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.edit-delete {
  display: flex;
  justify-content: right;
  padding-right: 5px;
}

.edit-delete button {
  font-size: 12px;
  padding: 0 5px;
  color: blue;
  background-color: white;
  border: none;
  cursor: pointer;
}

.comments-container {
  max-width: 400px;
  margin: 30px auto 0;
}

.comment {
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
  display: flex;
}

.comment-left {
  width: 100%;
}

.comment-right {
  align-self: center;
  text-align: center;
  padding-right: 5px;
}

.comment-right .like-number {
  font-size: 12px;
}

.comment a {
  font-weight: bold;
  font-size: 14px;
}

.comment p {
  margin: 5px 0;
  text-align: start;
}

.comment-content {
  white-space: pre-line;
  overflow: auto;
  max-width: 368.55px;
}

.comment-error {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  padding: 6px;
}

.comment-timestamp {
  font-size: 11px;
  color: gray;
}
.like-button {
  cursor: pointer;
}
.hidden {
  display: none;
}

.message {
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}
