.message {
  text-align: center;
}

.post {
  text-align: start;
  border: 1px solid lightgray;
  padding: 15px 14px;
  max-width: 550px;
  margin: 7px auto;
  display: flex;
}

.post-left {
  padding-right: 17px;
  align-self: center;
  text-align: center;
}

.post-left .like-number {
  font-size: 12px;
}

.post-right {
  width: 100%;
}

.post-right div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.post-content {
  white-space: pre;
}

.topic-name {
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding-bottom: 6px;
}

.post-title {
  font-weight: bold;
}

.post-by {
  font-size: 12px;
}

.username {
  color: black;
  text-decoration: none;
}

.comment-number {
  font-size: 11px;
  font-weight: bold;
}

.edit-delete button {
  font-size: 12px;
  padding: 0 5px;
  color: blue;
  background-color: white;
  border: none;
  cursor: pointer;
}

.timestamp {
  font-size: 10px;
  color: gray;
}

.hidden {
  display: none;
}

.like-button {
  cursor: pointer;
}
